/* General Styles */
*{
    /* border: 1px solid red; */
    font-size: 1em;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgba(16, 16, 17, 0.8), rgba(49, 51, 53, 0.1)),
      url("../image/image_developement/client.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}