.oublier{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.avatar{
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    height: 40px;
    object-fit: cover;
}

.profile-cover {
    background-color: #1877f2;
    height: 200px;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    margin-top: -75px;
}
